*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nabvar{
    text-align: center;
    display: flex;
    background: black;
    padding: 15px;
    color: white;
    justify-content: space-between;

}
.nabvar h1{
   
   color: red;
   width: 200px;
   text-align: center;
   
}
.nabvar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
}

.nabvar ul  li a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
}
header{
    
    color:navy;
    text-align: center;
    padding: 20px;
    
} 
header h1{
    text-shadow: 4px 5px  5px ;
}
.food-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.food-card{
    width: 250px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba( 0,0,0,0,0.2);
    text-align: center;
    padding-bottom: 20px;
}
.food-card img{
    width: 100%;
    height: 500px;
}
.food-card h2{
    color: tomato;
    margin: 15px 0;
}
.food-card p{
    color:grey ;
    padding: 0 15px;
    
}
.food-card h3 {
    margin: 15px 0;
}
button{
    background: tomato;
    color:black;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
footer{
    margin-bottom: 0;
    background-color: grey;
    padding: 20px 20px;
    text-align: center;
}
footer .copy{
    font-size: 20px;
margin: 10px;
}

